[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = key.pem
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = MyCompany
CN = tfe.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = tfe.local